.ep-header{
    text-align: center;
    
}

.box-titulo{
    
    margin: 0  25%;
    border-radius: 0%;
    margin-bottom: 10%;
}


.grid-data{
    text-align: center;
   
}


.container{
    margin: 10% 15%;
    text-align: center;
}

.img1{
    width: 100px;
    height: 100px;
}

.grid{
    text-align: center;
}

.frm-btn{

    margin: 5% 0;
 

}

.box3{
    margin: 0 15%;
    margin-bottom: 5%;
}


